@using Newtonsoft.Json
@model PayerDetailsVm

@{
    ViewBag.Title = "Payments for Payer";
}

<h2>Payer Details</h2>

<p>
    <pre>@JsonConvert.SerializeObject(Model.Payer, Formatting.Indented)</pre>
</p>

<h3>
    Payments for Payer
    <a href="@Url.Action("New", "Payments", new {PayerId = Model.Payer.Id})" class="btn btn-primary pull-right">New Payment</a>
</h3>    

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Amount</th>
            <th>Transaction Date</th>
            <th>Description</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payer in Model.Payments)
        {
            <tr>
                <td>@payer.Id</td>
                <td>@payer.Amount</td>
                <td>@payer.TransactionDate</td>
                <td>@payer.Description</td>
                <td>@payer.Status</td>
            </tr>
        }
        @if (!Model.Payments.Any())
        {
            <tr>
                <td colspan="5">No payments found for payer</td>
            </tr>
        }
    </tbody>
</table>

<h3>
    Sources for Payer
    <a href="@Url.Action("NewSource", "Payers", new {PayerId = Model.Payer.Id})" class="btn btn-primary pull-right">New Source</a>
</h3>
    
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var source in Model.Payer.Sources)
        {
            <tr>
                <td>@source.Id</td>
                <td>@source.SourceType</td>
                <td>
                    @if (source.SourceType == "bank-account")
                    {
                        <span>@source.BankAccountBsb - @source.BankAccountNumber</span>
                    }
                    else if (source.SourceType == "credit-card")
                    {
                        <span>@source.DisplayCardNumber - @source.ExpiryDate?.ToString("MM/yy")</span>
                    }
                </td>
            </tr>
        }
        @if (!Model.Payments.Any())
        {
            <tr>
                <td colspan="5">No payments found for payer</td>
            </tr>
        }
    </tbody>
</table>