@model List<Pinch.SDK.Payers.Payer>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>
    Payers
    <a href="@Url.Action("New", "Payers")" class="btn btn-primary pull-right">New Payer</a>
</h2>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var payer in Model)
    {
        <tr>
            <td><a href="@Url.Action("Details", "Payers", new {id=payer.Id})">@payer.Id</a></td>
            <td>@payer.FirstName</td>
            <td>@payer.LastName</td>
            <td>@payer.EmailAddress</td>
            <td class="text-right">
                <a href="@Url.Action("Edit", "Payers", new { id = payer.Id })" class="btn btn-link">Edit</a>
                <a href="@Url.Action("Delete", "Payers", new { id = payer.Id })" class="btn btn-link">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>