@using Newtonsoft.Json
@model MerchantsVm

<h2>
    My Merchant
    <a href="@Url.Action("Edit", "Merchants")" class="btn btn-primary pull-right">Edit Merchant</a>
</h2>

<p>
    <pre>@JsonConvert.SerializeObject(Model.MyMerchant, Formatting.Indented)</pre>
</p>

<h2>
    Managed Merchants
    <a href="@Url.Action("NewManaged", "Merchants")" class="btn btn-primary pull-right">New Managed Merchant</a>
</h2>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Company Name</th>
        <th>Contact Email</th>
        <th>Account Name</th>
        <th>BSB</th>
        <th>Account Number</th>
        <th>Street Address</th>
        <th>Suburb</th>
        <th>Postcode</th>
        <th>Keys</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var merchant in Model.ManagedMerchants)
    {
        <tr>
            <td>
                <p>@merchant.Id</p>
                <p>@merchant.TestMerchantId</p>
            </td>
            <td>@merchant.CompanyName</td>
            <td>@merchant.ContactEmail</td>
            <td>@merchant.AccountName</td>
            <td>@merchant.Bsb</td>
            <td>@merchant.AccountNumber</td>
            <td>@merchant.StreetAddress</td>
            <td>@merchant.Suburb</td>
            <td>@merchant.Postcode</td>
            <td>
                
                <p>@merchant.TestSecretKey</p>
                <p>@merchant.LiveSecretKey</p>
                <p>@merchant.TestPublishableKey</p>
                <p>@merchant.LivePublishableKey</p>
            </td>
        </tr>
    }
    @if (!Model.ManagedMerchants.Any())
    {
        <tr>
            <td colspan="9">You have no managed merchants</td>
        </tr>
    }
    </tbody>
</table>

<h3>Impersonate Merchant</h3>
@if (!string.IsNullOrEmpty(Model.ImpersonatedMerchantId))
{
    <p>Impersonated Merchant ID: <strong>@Model.ImpersonatedMerchantId</strong></p>
    <a href="@Url.Action("Unimpersonate", "Merchants")" class="btn btn-primary">Unimpersonate</a>
}
else
{
    <p>Not currently impersonating.</p>
    <form asp-action="Impersonate">
        <input name="merchantId" />
        <button class="btn btn-primary">Impersonate</button>
    </form>
}