@model Pinch.SDK.Fees.MerchantFeeSchedule

@{
    ViewBag.Title = "Active Fees";
}

<h2>Active Fees</h2>
<div class="row">
    <div class="col-md-12">
        <h4>Fee Schedule Effective Date: @Model.EffectiveDateUtc.ToLongDateString()</h4>

        <div class="container-fluid">
            @foreach(var feeLine in Model.FeeScheduleLines)
            {
                <div class="row">
                    <div class="col-md-3">
                        @feeLine.OriginZone -> @feeLine.DestinationZone
                    </div>
                    <div class="col-md-3">
                        @feeLine.FeeScheme
                    </div>
                    <div class="col-md-3">
                        @feeLine.PercentageFee
                    </div>
                    <div class="col-md-3">
                        @feeLine.FixedFee
                    </div>
                </div>
            }
        </div>
    </div>
</div>